.topnav {
  text-align: center;
}

.logoContainer {
  display: inline-block;
  padding: 20px;
}

.logo {
  height: 50px; /* Set the height of the logo */
  width: auto; /* Set the width to be proportional to the height */
}

.paragraph {
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  margin: 20px auto;
  max-width: 600px;
  padding: 0 20px;
  text-align: justify;
  text-justify: inter-word;
}

@media (min-width: 768px) {
  .paragraph {
    font-size: 16px;
    margin: 40px auto;
  }
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 10px;
}

.button {
  background-color: #1a73e8;
  border-radius: 30px;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 14px 28px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  width: 200px;
  font-family: "Inter", sans-serif;
  z-index: 1;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background-color: #0d47a1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.app {
  text-align: center;
}

.showApiKeySwitch {
  font-family: 'Inter', sans-serif;
}

.apiKeyContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.showApiKeySwitch {
  font-family: "Inter", sans-serif;
  margin-left: 10px;
  margin-right: 5px;
}
